.margin-small {
    margin: 2px
}
.padding-small {
    padding: 2px
}
.margin-medium {
    margin: 4px
}
.padding-medium {
    padding: 4px
}
.nav > li > a {
    font-size: 16px;
}
ul#CategoryList li:hover {
    background-color: #E8E8E8;
}
ul#CategoryList a:hover {
    text-decoration: none;
}
.navbar {
    min-height: 30px;
    padding: 5px
}
.pointer {
    cursor: pointer;
}
.pointer:hover {
    background-color: rgb(232, 232, 232);
}
div.blockUI {
    opacity:0.3;
    filter:alpha(opacity=30);
}
.breadcrumb {
    margin: 5px 0px;
    border-color: rgb(221, 221, 221);
    border-style: solid;
    border-width: 1px;
}
.navbar {
    margin-bottom: 0px;
}
.pager {
    margin: 7px 0px;
}
.list-group-item {
    cursor: pointer;
}
.alert {
    margin-bottom: 6px;
    margin-top:6px;
}
.pagination {
    margin: 4px auto 4px auto;
}
.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

table.table tr td.button {
    padding: 2px 0px;
}

table.table tr td.text {
    padding: 6px 0px 6px 6px;
}