<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="tk.learnwords" version="0.4">
    <name>Learnwords - vocabulary builder</name>
    <description>
        Learnwords app will help you improve your english vocabulary. 
        It contains  more than 3000 words grouped into categories and connected to speech engine (Forvo, macMillan, Cambridge).
        App allows to build own learning list and open words in external dictionaries (diki.pl, macMillan, getionary.pl).
        For some features (search, speech, external dictionaries) internet connection is required.
    </description>
    <author href="http://learnwords.tk" email="arek_felinczak@hushmail.com">
        Arek Felinczak
    </author>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <preference name="phonegap-version" value="3.0.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="8" />
    <preference name="android-installLocation" value="auto" />
    <icon src="themes/ico_48.png" />
    <icon gap:density="ldpi" gap:platform="android" src="themes/ico_48.png" />
    <icon gap:density="mdpi" gap:platform="android" src="themes/ico_48.png" />
    <icon gap:density="hdpi" gap:platform="android" src="themes/ico_48.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="themes/ico.png" ></icon>
    <gap:splash src="themes/android_mdpi_portrait.png" />    
</widget>